.sign-in-sign-up {
    position: relative;
  }
  .hide {
    display: none !important;
    opacity: 0 !important;
}
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    /* background-image: url('background-image.jpg'); */
    background-size: cover;
    background-position: center;
    z-index: -1;
  }
  
  .overlay-sign {
    position: relative;
    z-index: 222;
    width: 508px;
    height: 410px;
    height: auto;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    top: -100px;
  }
  .overlay-signup {
    position: relative;
    z-index: 222;
    width: 508px;
    height: 410px;
    height: auto;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    top: -50px;
  }
 
  .sign-overlay {
    position: absolute;
    top: 50;
    left: 0;
    width: 100%;
    height: 560px;
    opacity: 0.4;
    background: rgba(54, 51, 51, 0.5); 
    z-index: 1;
  }
  .signup-info{
    position: relative;
    top: 150px;
    text-align: center;
    color: white;
    z-index: 555;
  }
  .btn-group-sign{
    display: flex;
    justify-content: space-around;

  }
  /* Add any additional styling for the sign-in and sign-up components */
  